<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner ">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="row justify-content-between">

          <div class="input-group col">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="" aria-describedby="search-button">

            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button> 
            </div>
          </div>
          <div class="col"></div>
          <div class="sort col">
            <form action="#">
              <select name="sort" class="form-select" onclick="">
                  <option value="0">Default Sort</option>
                  <option value="1"> A->Z </option></a>
                  <option value="2"> Z->A </option>
                  <option value="3"> 類別 </option>
                  <option value="4"> 評分：高->低 </option>
                  <option value="5"> 評分：低->高 </option>
              </select>
            </form>
          </div>
        </div>
        
        
      </form>
    </div>      
  </div>
</div>

{{!-- <!--{{#sortMethod sort 0}}selected {{/sortMethod}} > Default Sort --> --}}

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3 ">

        {{#each rests}}
        <div class="card mb-4">
          <a href="./restaurants/{{ this._id }}" class="text-secondary">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body">
            <h6 class="card-title mb-1">{{this.name}}</h6>
            <h6 class="card-title mb-1">({{this.name_en}})</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>{{this.category}}
            </div>

            <span class="badge rounded-pill bg-danger font-weight-normal">
                  {{this.rating}}
                <i class="fa-regular fa-star"></i>
            </span>
            
            <div class="card-body text-end p-0">
              <li style="list-style: none;">

                <a href="./restaurants/{{ this._id }}"><button
                  class="btn btn-primary btn-detail">Detail</button></a>
                <a href="./restaurants/{{ this._id }}/edit">
                  <button
                  class="btn btn-success btn-edit">Edit</button>
                </a>

                <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST"
                  style="display: inline">
                  <button class="btn btn-danger btn-delete" type="submit">Delete</button>
                </form>
              </li>
            </div>
          </div>
          </a>
        </div>
        
        {{/each}}

      </div>
    </div>
  </div>
</div>

